

<template>
     <Header :user="user?.name" v-model:autentificado="isAuthenticated">
        <div v-if="isAuthenticated">
          <input type="text" v-model="sucomentario" placeholder="deja tu comentario" @keypress.enter="guardarMensaje">  
          <button class="btn btn-primary" @click="cargarComentarios">Cargar comentarios</button>
        </div>
     </Header>
    
     <Comment v-for="comentario in comentarios" 
              :key="comentario.id" 
              :cont="comentario.contenido"
              :email="comentario.email"
              :picture="comentario.picture"></Comment>
</template>

<script>

import Comment from  './Comment.vue'
import Header from './Header.vue'

export default {
  name: "app",
  components : {
    Comment,
    Header
  },
  data() {
    return {
      sucomentario : "holaaa",
      comentarios :[], 
      isAuthenticated : this.$auth0.isAuthenticated,
      user : this.$auth0.user

    }
  },
  created() {
    this.cargarComentarios();
    //setInterval(this.cargarComentarios,5000);
  },
  methods : {
    async guardarMensaje() {
      const token = await this.$auth0.getAccessTokenSilently();
      const insertResultado = await (await fetch(`/api/add?contenido=${this.sucomentario}`,{ headers: { Authorization: `Bearer ${token}`}})).json();
       this.comentarios.push({ contenido : this.sucomentario, id: resultado.insertId});
      this.sucomentario = '';
    },
    async cargarComentarios() {
      let respuesta = await fetch("/api/get");
      let respuestaJSON = await respuesta.json();
      // nota : tambien funciona asi
      // respuesta = await (await fetch("/api/get")).json();
      this.comentarios = respuestaJSON;
    }
  }
}
</script>

<style scoped>


</style>