<template>
 <div class="card" style="width: 18rem;">
  <img :src="picture" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-text">{{email}}</h5>
    <p class="card-text">{{cont}}</p>
  </div>
</div>
</template>


<script>
    export default {
        props : ['cont','email','picture'],
    }
</script>