<template>
    <div v-if="autentificado">
        <p v-if="autentificado">bienvenido {{user}} (<router-link to="/logout">logout</router-link>) </p>
        <slot></slot>
    </div>
    <div v-else>
        <router-link to="/login">logeate para entrar</router-link>
    </div>
       
</template>

<script>
export default {
    props : ['user','autentificado']
}
</script>